a:link       { text-decoration: none; color: #0000FF; font-family: 宋体 }
a:visited    { text-decoration: none; color: #003399; font-family: 宋体 }
a:active     { text-decoration: none; font-family: 宋体; color: #0000FF }
a:hover      { text-decoration: none; color: #0000FF }
A{text-transform:none;text-decoration:none;}
BODY {font-family:"宋体"; font-size:9pt;background-color="#BFE2A9"}
td {font-family:"宋体";font-size:9pt;}
.messageStyle { font-family: 宋体; font-size: 9pt; color: #FF0000 }
